<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update address</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/shops/{id}(id=${allShopsData.getShops().getId()})}" th:object="${allShopsData}">
    <div class="container">
        <label for="address">Address : </label>
        <input type="text" th:field="*{address}" id="address">
        <!--    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>-->

        <br>

        <label for="city">City : </label>
        <input type="text" th:field="*{city}" id="city">
        <!--    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</div>-->

        <br>

        <select th:field="*{addressId}" id="addressId">-->
            <option th:each="address : ${addressList}"
                    th:value="${address.getId()}"
                    th:text="${address.getAddress()+' - '+address.getCity()}"
                    th:selected="(${address.getId()} == *{addressId})"
                    th:readonly="(${address.getId()} == *{addressId})">Shop Address And City
            </option>
        </select>
        <!--        <span><a th:href="@{/address/new/{id}(id=${shopsInfo.getId()})}">   Create New Address</a></span>-->
        <!--        <br>-->
        <!--        <hr>-->


        <input type="submit" value="Update Address">

    </div>
</form>
</body>
</html>