<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${shopsData.getShops().getId()}">VALUE</p>
<p th:text="${shopsData.getShops().getShopName()}">VALUE</p>
<p th:text="${shopsData.getAddressShop().getAddress()}">VALUE</p>
<p th:text="${shopsData.getAddressShop().getCity()}">VALUE</p>
<hr>
<h3>Shops info</h3>
<p th:text="${shopsData.getNewShopInfo().getShopsInfo.getShopOwner()}">VALUE</p>
<p th:text="${shopsData.getNewShopInfo().getShopsInfo().getHvhh()}">VALUE</p>
<p th:text="${shopsData.getNewShopInfo().getAddress().getAddress()}">VALUE</p>
<p th:text="${shopsData.getNewShopInfo().getAddress.getCity()}">VALUE</p>
<hr>
<h3>Shops Create and Modified Date</h3>

<p th:text="${shopsData.getShops().getCreateDate()}">VALUE</p>
<p th:text="${shopsData.getShops().getModifyDate()}">VALUE</p>
<p th:text="${shopsData.getShops().getDeleteDate()}">VALUE</p>

<br>

<a th:href="@{/address/{id}/edit(id=${address.getId()})}">edit</a>

<br>

<form th:method="DELETE" th:action="@{/address/{id}(id=${address.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>