<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="ordersGoods : ${ordersGoodsList}">
    <p th:text="${ordersGoods.getId()}">VALUE</p>
    <p th:text="${ordersGoods.getOrdersId()}">VALUE</p>
    <p th:text="${ordersGoods.getGoodsId()}">VALUE</p>
    <p th:text="${ordersGoods.getGoodsCount()}">VALUE</p>
    <p th:text="${ordersGoods.getCreateDate()}">VALUE</p>
    <p th:text="${ordersGoods.getModifyDate()}">VALUE</p>
    <p th:text="${ordersGoods.getDeleteDate()}">VALUE</p>
    <hr>
</div>
<br>

<a th:href="@{/ordersGoods/{id}/edit(id=${ordersGoods.getId()})}">edit</a>

<br>

<form th:method="DELETE" th:action="@{/ordersGoods/{id}(id=${ordersGoods.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>