<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="sidebar" data-color="orange" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="#" class="simple-text logo-normal">
            Araqich V-1
        </a></div>
        <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="a51ba80d-cf45-e5c2-d3e9-d61098bd6350">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/orders">
                        <i class="material-icons">dashboard</i>
                        <p>Orders</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/address">
                        <i class="material-icons">person</i>
                        <p>Address</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/shops">
                        <i class="material-icons">content_paste</i>
                        <p>Shops</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/goods">
                        <i class="material-icons">library_books</i>
                        <p>Goods</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="/product">
                        <i class="material-icons">bubble_chart</i>
                        <p>Products Type</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-background"
             style="background-image: url(https://demos.creative-tim.com/material-dashboard-dark/assets/img/sidebar-2.jpg) "></div>
    </div>
</div>