<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="ordersShopInfo : ${ordersDataList}">
    <a th:href="@{/orders/{id}(id=${ordersShopInfo.getId()})}"
       th:text="${ordersShopInfo.getId()} +'---'+ ${ordersShopInfo.getShopName()}+'---'+ ${ordersShopInfo.getAddress()}+'---'+ ${ordersShopInfo.getCity()}+'---'+ ${ordersShopInfo.getCreateDate()}">orders
        <span>Shop Name</span></a>
    <hr>
</div>

<br>
<hr>
<a href="/orders/new">Create address</a>
</body>
</html>