<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <title> New Orders </title>
</head>
<body>
<h1> Add New Orders </h1>
<form th:method="POST" th:action="@{/orders}" th:object="${orders}">
    <div class="container">
        <br>
        <select name="shopId" id="shop-select">
            <option th:each="shop : ${shopsList}"
                    th:value="${shop.getId()}"
                    th:text="${shop.getShopName()+' - '+shop.getAddress()+' - '+shop.getCity()}"> New order Shops
            </option>
        </select>
        <hr>
        <br>
        <select name="goodsId" id="goods-select">
            <option th:each="goods : ${goodsList}"
                    th:value="${goods.getId()}"
                    th:text="${goods.getGoodsName()+' - '+goods.getGoodsType()+' - '+goods.getGoodsPrice()}"> New Goods
            </option>
        </select>

        <input type="text" name="goodsCount" id="goods">
        <hr>
        <br>
        <select name="goodsId" id="goods-select1">
            <option th:each="goods : ${goodsList}"
                    th:value="${goods.getId()}"
                    th:text="${goods.getGoodsName()+' - '+goods.getGoodsType()+' - '+goods.getGoodsPrice()}"> New Goods
            </option>
        </select>

        <input type="text" name="goodsCount" id="goods1">
        <br>
        <hr>
        <br>
        <select name="goodsId" id="goods-select2">
            <option th:each="goods : ${goodsList}"
                    th:value="${goods.getId()}"
                    th:text="${goods.getGoodsName()+' - '+goods.getGoodsType()+' - '+goods.getGoodsPrice()}"> New Goods
            </option>
        </select>

        <input type="text" name="goodsCount" id="goods2">
        <br>

        <hr>
        <input type="submit" value="Add Order">

    </div>
</form>
</body>
</html>